@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

body {
    background-color: #00BFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Playwrite CU", cursive;
}

h1 {
    color: #FFFFFF;
}

.campo-contador {
    background-color: #FFFAFA;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.campo-label {
    margin: 5px 0;
}

label {
    font-size: 14px;
}

p {
    font-size: 16px;
}

input {
    padding: 5px 8px;
}

#botaoContar {
    margin-top: 30px;
    padding: 10px;
    width: 20%;
    border-width: 1px;
    border-radius: 5px;
    background-color: #00BFFF;
    color: #FFFFFF;
    cursor: pointer;
}

.mensagem-erro {
    color: #FF0000;
}

@media (max-width: 768px) { 
    .campo-contador {
        width: 60%;
    }

    label {
        font-size: 14px;
    }

    input {
        width: 50%;
    }

    #botaoContar {
        width: 30%;
    }
}

@media (max-width: 480px) { 
    .campo-contador {
        width: 80%;
    }

    label {
        font-size: 11px;
    }

    input {
        width: 50%;
    }

    #botaoContar {
        width: 30%;
    }

    p {
        font-size: 11px;
    }
}
